* {
  font-family: "Open Sans", "Times New Roman", Times, serif;
}
.navbarContainer {
  background-color: #535fe6;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  min-height: 10vh;
  padding-left: 5px;
}

ul {
  display: flex;
  gap: 20px;
  text-align: center;
}
ul li {
  list-style: none;
}
